<ng-container>
    <!--toolbar-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top" >Sistem Informasi Desa</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/admin/berita">Pekan Ini</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/admin/image">Barang</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/admin/product">Data</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" routerLink="/login">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--end toolbar-->
    
    
    <mat-sidenav-container class="example-container">
    
      <mat-sidenav #sidenav mode="side" 
      [position]="'start'" 
      opened class="sidenav-left"
      [fixedInViewport]="true" 
      [fixedTopGap]="65"
      [fixedBottomGap]="0">
    
      </mat-sidenav>
    
    <mat-sidenav #sidenav mode="side" [position]="'end'"  class="example-sidenav"
    [fixedInViewport]="true" [fixedTopGap]="60"
    [fixedBottomGap]="0">
    
       
    
    </mat-sidenav>
    <!--sidenav content-->
    <mat-sidenav-content style="padding: 20px; background-color: #2c3e50;">
    <!--halaman-halaman tampil disini-->
    
   
<router-outlet (isLogout)="handleLogout()"></router-outlet>
    
    
    
    </mat-sidenav-content>
    <!--end sidenav content-->
    </mat-sidenav-container>   
    </ng-container>