<mat-card>
    <div class="container">
            <h2>Tambah Data</h2>
            <form #f ="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group">
                    <label>Id</label>
                    <input type="text" class="form-control" name="id" [ngModel]="tambahdata.id">
                </div>
                <div class="form-group">
                    <label>Nama barang</label>
                    <input type="text" class="form-control" name="nama" [ngModel]="tambahdata.nama">
                </div>
                <div class="form-group">
                    <label>Dibeli sendiri</label>
                    <input type="text" class="form-control"name="beli" [ngModel]="tambahdata.beli">
                </div>
                <div class="form-group">
                    <label>Asal barang</label>
                    <input type="text" class="form-control"name="asal" [ngModel]="tambahdata.asal">
                </div>
                <div class="form-group">
                    <label>Kondisi barang</label>
                    <input type="text" class="form-control"name="kondisi" [ngModel]="tambahdata.kondisi">
                </div>
                <button type="submit"  class="btn btn-primary">Save</button>
            </form>
        </div>
</mat-card>