<mat-card>
    <div class="media">
        <div class="card">
            <h3 class="card-header">List Barang Sejauh ini</h3>
            <div class="card-body">
                <img src="assets/img/printer.jpg" width="200" height="100">
                <h2 class="card-title">Printer Epson L220 </h2>
                <p class="card-text">"Epson L220 adalah printer dengan tinta infus yang membuatmu hemat. 
                    Printer ini bisa mencetak super cepat dengan hasil sebagus printer cartridge, proses pengisian ulang tinta pun sangat mudah!
                </p>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="card">

            <div class="card-body">
                <img src="/assets/img/kursi.jpg" width="200" height="100">
                <h2 class="card-title">Kursi plastik napolly</h2>
                <p class="card-text">Kursi plastik Napolly adalah kursi plastik produksi salah satu anak perusahaan
                     PT Cahaya Buana Intitama yang memiliki kantor pusat di daerah Sentul-Bogor. Kursi plastik Napolly 
                     memiliki berbagai jenis model dan warna untuk kamu pilih seperti kursi bakso hingga kursi santai 
                     dengan tekstur menyerupai rotan. Harga kursi plastik Napolly bervariasi tergantung jenis dan ukuran 
                     yang kamu pilih, tapi kamu tidak perlu cemas karena iPrice akan bantu kamu untuk mendapatkan harga kursi 
                     plastik Napolly terbaik melalui fitur pembanding harganya. Yuk kita simak artikel mengenai kursi Napolly supaya kamu tidak salah pilih.
                </p>
            </div>
        </div>
    </div>

    <div class="media">
        <div class="card">
            <div class="card-body">
                <img src="/assets/img/rapat.jpg" width="200" height="100">
                <h2 class="card-title">Meja rapat</h2>
                <p class="card-text">MEJA RAPAT / MEJA MEETING DATAFILE JM( DM) 232-350
                    - Size 3500x2000x750mm
                    - Bahan MDF finishing HPL
                </p>
            </div>
        </div>
    </div>
    <div class="media">
        <div class="card">
            <div class="card-body">
                <img src="/assets/img/lemari.jpg" width="200" height="100">
                <h2 class="card-title">Lemari arsip</h2>
                <p class="card-text">Lemari Arsip 2 Pintu Brother B-203 merupakan Produk Office Equipment yang berfungsi sebagai tempat penyimpanan dokumen atau arsip dalam Lemari dengan model 3 Rak. UD. Primantara selaku Agen Perlengkapan Alat Kantor menjual Produk Lemari Arsip 2 Pintu Ayun Brother B-203 ini dengan spesifikasi :
                    • Tebal Plat : 0,6 mm
                    • Model : Pintu Ayun 3 Rak
                    • Ukuran : 88 (L) x 40 (D) x 183 (H) cm
                </p>
            </div>
        </div>
    </div>
</mat-card>