img {
  height: 500px;
  width: 500%;
}
.text {
    color: #fdfdfd;
    font-size: 37px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .a {
    margin: 40px 0;
  }