<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="container mt-5">
            <a routerLink="add/0" class="btn btn-success mb-4">Tambahkan Data</a>
            <table class="table">
                <thead>
                    <th>Id</th>
                    <th>Nama Barang</th>
                    <th>Kode Barang</th>
                    <th>Identitas Barang</th>
                    <th>Keterangan</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr *ngFor="let data of datas">
                        <td>{{ data.id }}</td>
                        <td>{{ data.nama }}</td>
                        <td>{{ data.kode }}</td>
                        <td>{{ data.identitas }}</td>
                        <td>{{ data.ket }}</td>
                        <td><a [routerLink]="['edit',data.id]">Edit</a></td>
                        <td><button (click)="onDelete(data.id)" class="btn btn-danger">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-card-content>
</mat-card>