
<mat-card >
    <mat-card-content>
    <div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>  
                <th>id</th>        
                <th>Jenis Barang</th>
                <th>Dibeli Sendiri</th>
                <th>Asal Barang</th>
                <th>Konisi Barang</th>
                <th align="right">#</th>
            </thead>
            <tbody>
                <tr *ngFor="let tambahdata of tambahdatas" >
                    <td>{{tambahdata.id}}</td>
                    <td>{{tambahdata.nama}}</td>
                    <td>{{tambahdata.beli}}</td>
                    <td>{{tambahdata.asal}}</td>
                    <td>{{tambahdata.kondisi}}</td>
                    <td align="right">
                        <button mat-button color="primary" [routerLink]="['/admin/tambahdata', tambahdata.id]">Edit</button>
                        <button mat-button color="warn">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    </mat-card-content>
</mat-card>