
<mat-card >
    <mat-card-header>
        
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>  
                <th></th>              
                
                <th>Jenis Barang</th>
                <th>Dibeli Sendiri</th>
                <th>Asal Barang</th>
                <th>Keadaan Barang</th>
                
                <th align="right">#</th>
            </thead>
            <tbody>
                <tr>
                    <td>
                        
                    </td>
                    <td>{{value.nama}}</td>
                    <td>{{value.beli}}</td>
                    <td>{{value.asal}}</td>
                    <td>{{value.kondisi}}</td>
                    
                    
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>