<mat-card>
    <h2>{{header}}</h2>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="">Id</label>
            <input type="text" class="form-control" [ngModel]="data.id" name="id">
        </div>
        <div class="form-group">
            <label for="">Nama Barang</label>
            <input type="text" class="form-control" [ngModel]="data.nama" name="nama">
        </div>
        <div class="form-group">
            <label for="">Kode Barang</label>
            <input type="text" class="form-control" [ngModel]="data.kode" name="kode">
        </div>
        <div class="form-group">
            <label for="">Identitas Barang</label>
            <input type="text" class="form-control" [ngModel]="data.identitas" name="identitas">
        </div>
        <div class="form-group">
            <label for="">Keterangan</label>
            <input type="text" class="form-control" [ngModel]="data.ket" name="ket">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Simpan</button>
        </div>
    </form>
</mat-card>>
